{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Twoja nazwa użytkownika: {{ user.username }}</p>
    <p>Twój email: {{ user.email }}</p>
</div>
<a class="btn btn-outline-info" type="change" href="http://127.0.0.1:8000/profile/edit">Zmień swoje dane</a>
