{% extends 'base.html.twig' %}

{% block header %} Komentarze do posta {% endblock %}

    {% block body %}
        <ul>
            {% for comment in comments %}
                <li> {{ comment.user }} {{ comment.text }}</li>
            {% endfor %}
        </ul>
    {% endblock %}
